// in the dev mode, we make "modules": false for `es2015` to take advantage of webpack 2.0 treeshaking functionality
// in the test mode, we need "modules": true as ava uses them.
{
	"presets": [["env",  { "modules": false }], "flow"],
	"plugins": [
		"transform-runtime",
		"transform-object-rest-spread",
		"transform-class-properties"
	],
	"env": {
		"test": {
			"presets": ["env", "flow"],
			"comments": true,
			"sourceMaps": "inline",
			"plugins": ["istanbul", [
				"babel-plugin-webpack-loaders",
				{
					"config": "webpack.config.ava.js",
					"verbose": false
				}
			]]
		}
	}
}
